.container{
    border: 1px solid #ccc;
    --cell_height: 90px;
    --grid_gap: 5px;
    background-color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    padding: 25px;
    background-color: #E5E5E5;
}
.controlsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}
.controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}
.controls span{
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
}
.switch{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 3px;
}
.switch .active{
    background-color: #22519D;
    color: white;
}
.switch span{
    padding: 11px 7px;
    border-radius: 3px;
    cursor: pointer;
}
/* Month View */
.calendarContainer{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    background-clip: padding-box;
}
.calendar{
    display: grid;
    width: 100%;
    gap: var(--grid_gap);
    grid-template-columns: repeat(7, 1fr);
    z-index: 10;
}
.events{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5, var(--cell_height));
    grid-template-columns: repeat(7, 1fr);
    gap: var(--grid_gap);
    z-index: 20;
}
.daysHeader{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}
.daysHeader span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.day{
    position: relative;
    height: var(--cell_height);
    z-index: 10;
    border: 1px solid #ccc;
}
.dayNumber{
    position: absolute;
    left: 5px;
    top: 5px;
}
.event{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    opacity: 70%;
}
.eventTitle{
    position: absolute;
}
/* Week View */